/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}

/* QR code generator */
#qrCode {
  margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}

.alert-container {
  position: fixed;
  top: 50px;
  left: 500px;
  font-size: 14px;
  width: 800px;
  z-index: 9; /* 使用 z-index 將其 layer 拉高，蓋掉其他 elements */
}

[hidden] {
  display: none !important;
}

/*.form-group.required .control-label {
    color: blue;
}*/

.form-group.required .control-label:after {
  font-size: large;
  content: " *";
  color: red;
  margin-right: -6px;
}

input {
  z-index: 10;
}

/*.checkbox.required > label {
    color: blue;
    font-weight: bold;
}*/

.checkbox.required > label:before {
  font-size: large;
  content: "*";
  color: red;
  margin-right: -3px;
}

/* 設定 checkbox position & size */
input[type=checkbox], input[type=radio] {
  vertical-align: middle;
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.3); /* IE */
  -moz-transform: scale(1.3); /* FF */
  -webkit-transform: scale(1.3); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  /*zoom: 1.3;*/
  z-index: 10;
}

input[type=text]:disabled {
  background-color: lightgray;
}

input[type=checkbox]:disabled {
  background-color: lightgray;
}

input[type=number]:disabled {
  background-color: lightgray;
}

/* Table actived */
.table > tbody > tr.active > td, tr.active > td {
  background-color: #0094ff;
  font-weight: bold;
  color: #00ff21;
}

/* for input-add-on */
.input-group-addon.primary {
  color: rgb(255, 255, 255);
  background-color: rgb(50, 118, 177);
  border-color: rgb(40, 94, 142);
}

.input-group-addon.success {
  color: rgb(255, 255, 255);
  background-color: rgb(92, 184, 92);
  border-color: rgb(76, 174, 76);
}

.input-group-addon.info {
  color: rgb(255, 255, 255);
  background-color: rgb(57, 179, 215);
  border-color: rgb(38, 154, 188);
}

.input-group-addon.warning {
  color: rgb(255, 255, 255);
  background-color: rgb(240, 173, 78);
  border-color: rgb(238, 162, 54);
}

.input-group-addon.danger {
  color: rgb(255, 255, 255);
  background-color: rgb(217, 83, 79);
  border-color: rgb(212, 63, 58);
}

.breadcrumb > .active {
  color: blue;
  font-weight: bolder;
}

/* 使用 has-feedback 預設會保留固定的空間 42.5 但會造成輸入空格缺乏 */
.has-feedback .form-control {
  padding-right: 5px;
}

.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
  padding: 3px;
}
