<div [ngBusy]="{busy: busy, message: '資料載入中...'}"></div>
<alert-content [type]="alertType" [message]="alertMessage" (onClose)="alertMessage=''"></alert-content>

<form #form="ngForm" (submit)="submitForm(form)" class="form-horizontal" novalidate *ngIf="model">
  <p>
    <button class="btn btn-primary" type="submit"
            [disabled]="form.pristine || form.invalid">
      存檔
    </button>
    <button class="btn btn-warning" (click)="cancel()" type="button">
      取消
    </button>
  </p>
  <div class="row">
    <form-group [width]="4" [controlVariable]="regNo" [required]="true">
      <label class="control-label col-sm-6" for="regNo">RegNo</label>
      <div class="col-sm-6">
        <input type="text" id="regNo" name="RegNo" class="form-control"
               #regNo="ngModel" required maxlength="10"
               [(ngModel)]="model.RegNo" />
      </div>
    </form-group>
    <form-group [width]="4" [controlVariable]="name" [required]="true">
      <label class="control-label col-sm-6" for="name">Name</label>
      <div class="col-sm-6">
        <input type="text" id="name" name="Name" class="form-control"
               #name="ngModel" required maxlength="20"
               [(ngModel)]="model.Name" />
      </div>
    </form-group>
    <form-group [width]="4" [controlVariable]="sex" [required]="true">
      <label class="control-label col-sm-6" for="sex">Sex</label>
      <div class="col-sm-6">
        <input type="text" id="sex" name="Sex" class="form-control"
               #sex="ngModel" required maxlength="1"
               [(ngModel)]="model.Sex" />
      </div>
    </form-group>
  </div>
  <div class="row">
    <form-group [width]="4" [controlVariable]="idNo" [required]="true">
      <label class="control-label col-sm-6" for="idNo">IdNo</label>
      <div class="col-sm-6">
        <input type="text" id="idNo" name="IdNo" class="form-control"
               #idNo="ngModel" required maxlength="10"
               [(ngModel)]="model.IdNo" />
      </div>
    </form-group>
    <form-group [width]="4" [controlVariable]="birthDate" [required]="true">
      <label class="control-label col-sm-6" for="birthDate">BirthDate</label>
      <div class="col-sm-6">
        <div class="input-group">
          <input id="birthDate" name="BirthDate" class="form-control" type="text"
                 #birthDate="ngModel" bsDatepicker #dbBirthDate="bsDatepicker" required
                 [ngModel]="model.BirthDate" (ngModelChange)="model.BirthDate = dateFormat($event)" />
          <span class="input-group-btn">
            <button type="button" (click)="dbBirthDate.toggle()" class="btn btn-default"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
      </div>
    </form-group>
  </div>
</form>
